<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chaos.forum.mapper.ArticleCategoryMapper">
    <select id="selectPages"
            resultType="com.chaos.forum.entity.ArticleCategory">
      SELECT * FROM article_category ${ew.customSqlSegment}
    </select>
</mapper>

