<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chaos.forum.mapper.ArticleMapper">
    <select id="selectPages"
            resultType="com.chaos.forum.entity.Article">
      SELECT article.*,
        article_category.name as articleCategoryName,
        person_user.username as creatorUsername,
        person_user.buddha as buddha,
      ( select COUNT(article_comment.id) FROM article_comment WHERE article_comment.article_id = article.id ) as leaveWords
      FROM article, article_category, person_user ${ew.customSqlSegment}
      <choose>
        <when test="ew.customSqlSegment == '' ">
          WHERE article_category.id = article.article_category_id
          AND article.creator_id = person_user.id
        </when>
        <otherwise>
          AND article_category.id = article.article_category_id
          AND article.creator_id = person_user.id
        </otherwise>
      </choose>
    </select>

  <select id="selectOne"
          resultType="com.chaos.forum.entity.Article">
    SELECT article.*,
    article_category.name as articleCategoryName,
    person_user.username as creatorUsername,
    person_user.buddha as buddha,
    ( select COUNT(article_comment.id) FROM article_comment WHERE article_comment.article_id = article.id ) as leaveWords
    FROM article, article_category, person_user ${ew.customSqlSegment}
    <choose>
      <when test="ew.customSqlSegment == '' ">
        WHERE article.id = ${id}
        AND article_category.id = article.article_category_id
        AND article.creator_id = person_user.id
      </when>
      <otherwise>
        AND article.id = ${id}
        AND article_category.id = article.article_category_id
        AND article.creator_id = person_user.id
      </otherwise>
    </choose>
  </select>
</mapper>

