.post-category-post-list-item-container {
  width: 100%;
  margin-top: 1.35rem;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;

  &:first-child {
    margin-top: 0;
  }

  .post-base-info-container {
    display: flex;

    .user-base-info {
      width: 115px;
      text-align: center;
      padding-top: 21px;
      padding-left: 10px;
      padding-right: 10px;

      img {
        width: 62px;
        height: 62px;
        border-radius: 50%;
      }

      p {
        margin-top: .5rem;
        font-size: 15px;
        font-weight: bold;
        color: #3c3c3c;
      }
    }

    .post-base-info {
      overflow: hidden;
      flex: 1;
      padding-right: 35px;
      padding-top: 23px;
      padding-bottom: 15px;

      .post-title {
        font-size: 1.11rem;
        font-weight: bold;
        color: #3c3c3c;

        &:hover {
          color: #556cd6;
        }
      }

      .post-create-time-and-category {
        display: flex;

        .create-time {
          line-height: 2.5rem;
          color: #a0a0a0;
        }
      }

      .post-content {
        font-size: 1.05rem;
        line-height: 1.75;
        word-break: break-all;
        color: #a0a0a0;
        max-height: 85px;
        overflow: hidden;
      }

      .preview-image-list {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        left: -.5rem;

        .img-container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          max-width: 33.33333%;
          margin-top: 1rem;
          padding-left: 0.5rem;
          padding-right: 0.5rem;

          img {
            border-radius: 5px;
            max-width: 100%;
            max-height: 215px;
            cursor: zoom-in;
          }
        }
      }
    }
  }

  .post-action-container {
    display: flex;
    border-top: 1px solid #ccc;

    .action-item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      color: #a0a0a0;
      cursor: pointer;

      &.like-action-item {
        border-right: 1px solid #ccc;

        &:hover {
          i {
            background-image: url(https://yyccyy-01.oss-cn-shenzhen.aliyuncs.com/backup/0e69f14157b4804d15be0626b659be4c.png);
          }

          .action-text {
            color: #556cd6;
          }
        }

        i {
          width: 25px;
          height: 21px;
          background: url(https://yyccyy-01.oss-cn-shenzhen.aliyuncs.com/backup/8612e657cb789bbfd54c0efa2b6a5989.png) no-repeat;
          background-size: 21px;
          margin-right: 5px;
        }

        .action-text {
          position: relative;
          top: 2px;

          &.active {
            color: #556cd6;
          }
        }
      }

      &.message-action-item {
        display: none;

        &:hover {
          i {
            background-image: url(https://yyccyy-01.oss-cn-shenzhen.aliyuncs.com/backup/9e55ed77d7433e6d078b0542630a091d.png);
          }

          .action-text {
            color: #556cd6;
          }
        }

        i {
          width: 25px;
          height: 21px;
          background: url(https://yyccyy-01.oss-cn-shenzhen.aliyuncs.com/backup/706dbfb7a0e9e946c94852e26f27c7f0.png) no-repeat;
          background-size: 21px;
          margin-right: 5px;
        }

        .action-text {
          position: relative;
          top: 1px;
        }
      }
    }
  }
}

// 移动端适配
@media (max-width: 600px) {
  .post-category-post-list-item-container{
    .post-base-info-container {
      .user-base-info {
        width: 95px;
        text-align: center;
        padding-top: 21px;
        padding-left: 5px;
        padding-right: 5px;

        img {
          width: 50px;
          height: 50px;
        }
      }

      .post-base-info {
        padding-right: 5px;

        .post-create-time-and-category {
          display: block;

          p {
            margin: 0 !important;
            line-height: 1.75rem !important;
          }
        }

        .preview-image-list {
          .img-container {
            max-width: 100%;
          }
        }
      }
    }
  }
}
