.account-sign-in-container {
  padding-top: 2rem;

  .sign-in-title {
    margin-bottom: 3rem;
  }

  .MuiFormControl-root,
  .button-form-item {
    height: 89px;
  }

  .button-form-item {
    margin-top: 1rem;

    .MuiButtonBase-root {
      height: 55px;
    }
  }

  .to-tooltip {
    color: #556cd6;
  }
}
